@if (TempData["AuthError"] != null)
{
    <div class="alert alert-danger mb-3" role="alert">
        @TempData["AuthError"]
    </div>
}

<form action="/Login" method="post" autocomplete="off">
    <p>
        <input required type="text" name="nickname" placeholder="Kullanıcı Adı" />
    </p>
    <p>
        <input required type="password" name="password" placeholder="Şifre" />
    </p>

    <button class="btn-success">Giriş Yap</button>
</form>
<br>